<mat-toolbar class="flex__space-between">
    <div>
        <span>My App</span>
    </div>
    <div>
        <button mat-button routerLink="/add" class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            Add new todo
            <mat-icon>add</mat-icon>
        </button>
        <button mat-button routerLink="/list" class="example-icon"
            aria-label="Example icon-button with share icon">
            View todo list
            <mat-icon>list</mat-icon>
        </button>
    </div>

</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>